@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footerContact .footerContactItems, .formControl {
  width: 100%;
}

.productsContainer article .featuredTextContainer {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: solid lime;
}
.productsContainer article .featuredTextContainer .alignText {
  align-self: center;
}
.productsContainer article .featuredTextContainer .featuredText {
  font-size: 9px;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}
.productsContainer article .featuredTextContainer .featuredPrecio {
  color: lime;
  padding-top: 10px;
  font-size: 1.2rem;
}
.productsContainer article .featuredTextContainer .featuredPrecio span {
  color: #bababa;
  font-style: italic;
}
.productsContainer article .featuredTextContainer .featuredPrecio2 {
  color: lime;
  font-weight: bold;
  padding-top: 5px;
  font-size: 1rem;
}
.productsContainer article .featuredTextContainer .featuredButtons {
  display: flex;
  align-self: center;
  gap: 30px;
}
.productsContainer article .featuredTextContainer .featuredButtons .featuredButtonsSpace {
  padding: 10px;
}
.productsContainer article .featuredTextContainer .featuredButtons .buttonsConfig {
  font-size: 12px;
  font-weight: bold;
  background-color: #101010;
  border: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.noMarginText {
  margin: 0;
}

.bgleon {
  background-color: #0d0d0d;
}

.bgleon:focus {
  background-color: #0d0d0d;
}

.linksNav:focus,
.listSideBar:focus {
  opacity: 0.75;
}

.linksNav:hover {
  border-bottom: 3px solid lime;
  opacity: 0.75;
  padding: 0px 10px 10px 10px;
}

.listSideBar:hover {
  opacity: 0.75;
}

.footerHover:hover {
  color: lime;
}

.opacityForm {
  opacity: 0.5;
}

.linksInherit {
  color: inherit;
  text-decoration: none;
}

.boostrapIcons {
  font-size: 3.5rem;
  color: white;
}

.boostrapIconsHeader {
  font-size: 2rem;
  color: white;
  margin-right: 5px;
}

.iconsPre {
  font-size: 2.5rem;
  color: white;
  margin-right: 20px;
}

.promotion {
  padding: 5px 0px 2px 0;
  text-align: center;
  background-color: lime;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

header {
  background-color: black;
}
header .imagesHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
header .imagesHeader .imagesHeaderLeft {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}
header .imagesHeader .imagesHeaderLeft .item1 {
  width: 200px;
  height: 100px;
  margin-left: 40px;
}
header .imagesHeader .imagesHeaderRight {
  display: flex;
  justify-content: end;
  width: 100px;
  height: 100px;
  padding-right: 40px;
  gap: 40px;
}
header .headerLink {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  font-size: 12px;
}
header .headerLink .textHeader {
  color: white;
  align-self: flex-end;
  margin-bottom: 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav .menuNavContainer {
  display: flex;
  background-color: #080808;
  width: 100%;
}
nav .menuNavContainer .menuNav {
  display: flex;
  gap: 30px;
  padding: 10px 100px 0px 20px;
  list-style-type: none;
  color: white;
  font-size: 1.5em;
  width: 100%;
  letter-spacing: 1px;
}
nav .menuNavContainer .navForm {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
nav .menuNavContainer .navForm .navFormInput {
  width: 94%;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  background-color: black;
  border: none;
  outline: none;
  padding-left: 10px;
  text-transform: capitalize;
  padding-left: 10px;
}
nav .menuNavContainer .navForm .navFormButton {
  background-color: black;
  border: none;
}

main {
  background-color: #0d0d0d;
}

.sideBar {
  background-color: lime;
  color: white;
}
.sideBar .sideBarTitle {
  font-size: 1.5rem;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #0d0d0d;
}
.sideBar .sideBarList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  padding: 30px 5px;
  font-size: 1.5rem;
}

#carouselContainer.carousel {
  width: 100%;
  overflow: hidden;
  min-height: 400px;
  height: 99%;
}
#carouselContainer.carousel .carousel-inner {
  width: 100%;
  position: absolute;
  inset: 0;
}
#carouselContainer.carousel .carousel-item {
  width: 100%;
  height: 100%;
}
#carouselContainer.carousel .carousel-item img {
  object-fit: cover;
}

.preTextContainer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin: 20px;
  border-bottom: solid lime;
}
.preTextContainer .preTextItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 30px;
  font-family: monospace;
  color: white;
}
.preTextContainer .preTextItem .pre1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.preTextContainer .preTextItem .pre2 {
  font-size: 15px;
  color: white;
}

.featured {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
}
.featured .featuredTitle {
  align-self: center;
  color: azure;
  font-size: 3em;
  font-weight: bold;
  margin-top: 20px;
}
.featured .featuredItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0 40px;
}
.featured .featuredItems .featuredRow {
  display: flex;
  gap: 30px;
}
.featured .featuredImagesBorder {
  border-radius: 3em 1em;
  border: solid azure;
  overflow: hidden;
}
.featured .featuredImagesBorder .featuredImages {
  width: 250px;
  height: 250px;
  transition: opacity 0.5s ease;
}
.featured .featuredImagesBorder .featuredImages:hover {
  transform: scale(1.1);
  opacity: 0.75;
  margin-bottom: 10px;
}
.featured .featuredTextContainer {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: solid lime;
}
.featured .featuredTextContainer .featuredText {
  font-size: 9px;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}
.featured .featuredTextContainer .featuredPrecio {
  color: lime;
  padding-top: 10px;
  font-size: 1.2rem;
}
.featured .featuredTextContainer .featuredPrecio span {
  color: #bababa;
  font-style: italic;
}
.featured .featuredTextContainer .featuredPrecio2 {
  color: lime;
  font-weight: bold;
  padding-top: 5px;
  font-size: 1rem;
}
.featured .alignText {
  align-self: center;
}
.featured .featuredButtons {
  display: flex;
  align-self: center;
  gap: 30px;
}
.featured .featuredButtons .featuredButtonsSpace {
  padding: 10px;
}
.featured .featuredButtons .buttonsConfig {
  font-size: 12px;
  font-weight: bold;
  background-color: #101010;
  border: none;
  color: white;
}

.seeMoreButton {
  text-align: center;
  margin-top: 10px;
}
.seeMoreButton .seeMore {
  background-color: lime;
  padding: 20px 60px;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.6em;
  text-decoration: none;
}

.advertising {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 35px 0 110px;
  color: white;
  margin-bottom: 0;
}

.textTop {
  font-size: 3rem;
}

.formGroup {
  margin-right: 40px;
  width: 15%;
  margin-top: 20px;
}

.formControl {
  padding: 15px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  background-color: #0d0d0d;
  border: 1px solid #ccc;
  opacity: 0.5;
  border-radius: 4px;
}
.formControl:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.mainContainer {
  display: grid;
  grid-template-columns: 220px 1fr;
  max-width: 100%;
  gap: 2rem;
  color: white;
}

.productsHeader {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.productsAside {
  padding: 100px 0px 50px;
  margin-left: 50px;
}

.listCategories {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: lighter;
  list-style-type: none;
  gap: 15px;
  margin: 40px 0px;
  padding-left: 0px;
}

.font3Azure {
  font-size: 3em;
  color: azure;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 100px 0px 120px;
}
.productsContainer article .productsImages {
  width: 250px;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 3em 1em;
  border: solid azure;
  transition: opacity 0.5s ease-in-out ease;
}
.textTop {
  font-size: 3rem;
}

.formGroup {
  margin-right: 40px;
  width: 15%;
  margin-top: 20px;
}

.formControl {
  padding: 15px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  background-color: #0d0d0d;
  border: 1px solid #ccc;
  opacity: 0.5;
  border-radius: 4px;
}
.formControl:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.mainContainer {
  display: grid;
  grid-template-columns: 220px 1fr;
  max-width: 100%;
  gap: 2rem;
  color: white;
}

.productsHeader {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.productsAside {
  padding: 100px 0px 50px;
  margin-left: 50px;
}

.listCategories {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: lighter;
  list-style-type: none;
  gap: 15px;
  margin: 40px 0px;
  padding-left: 0px;
}

.font3Azure {
  font-size: 3em;
  color: azure;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 100px 0px 120px;
}
.productsContainer article .productsImages {
  width: 250px;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 3em 1em;
  border: solid azure;
  transition: opacity 0.5s ease-in-out ease;
}
.contactTop {
  color: white;
}

.contactGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: ". topContainer topContainer topContainer topContainer ." ". midContainer midContainer midContainer midContainer ." ". midContainer midContainer midContainer midContainer ." ". bottomContainer bottomContainer bottomContainer bottomContainer ." ". bottomContainer bottomContainer bottomContainer bottomContainer .";
  justify-items: center;
  align-items: center;
  padding: 50px 0 0 0;
}

.contactTopContainer {
  grid-area: topContainer;
  display: flex;
  color: white;
  justify-content: space-around;
}

.responsiveRowColumn {
  display: flex;
}

.contactTopFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  gap: 15px;
}

.contactH3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.contactH4 {
  font-size: 12px;
  font-weight: lighter;
}

.contactMidContainer {
  grid-area: midContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 0 15px;
}

.contactMidForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}
.contactMidForm input:not(.formInputSendMsg),
.contactMidForm textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}
.contactMidForm .formInputName,
.contactMidForm .formInputEmail,
.contactMidForm .formInputTel,
.contactMidForm .formInputMsj {
  width: 100%;
  background-color: #0d0d0d;
}
.contactMidForm .formInputBot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  gap: 15px;
  font-size: 1.5em;
  text-transform: none;
  border: 1px solid rgb(89, 93, 94);
  background-color: #0d0d0d;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px 30px;
}
.contactMidForm .botInput {
  display: none;
}
.contactMidForm .botInput + .botText {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.contactMidForm .botInput + .botText::before {
  content: "";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  opacity: 0.5;
  border-radius: 4px;
  margin-right: 15px;
  background-color: #0d0d0d;
  transition: background-color 0.2s, border-color 0.2s;
}
.botInput:checked + .contactMidForm .botInput + .botText::before {
  content: "✔";
  background-color: #0d0d0d;
  border: none;
  color: lime;
  font-size: 2em;
}
.botInput:checked + .contactMidForm .botInput + .botText::before::after {
  content: "✔";
  color: lime;
  font-size: 2em;
}
.contactMidForm .botInput + .botText {
  color: white;
}
.contactMidForm .formInputSendMsg {
  background-color: rgb(43, 47, 49);
  color: white;
  border: none;
  padding: 12px 26px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 15px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: not-allowed;
}
.contactMidForm input[type=checkbox]:checked ~ input[type=submit] {
  background-color: lime;
}

.contactBottomContainer {
  grid-area: bottomContainer;
}

.doubts {
  font-size: 1.5em;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

.iframeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 auto;
}

.map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.lastTitle {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3em;
}

.lastTextContainer {
  display: grid;
  grid-template-columns: repeat(6, fr);
  grid-template-rows: repeat(4, fr);
  grid-template-areas: ". . lastText lastText . ." ". . lastText lastText . ." ". . lastText lastText . ." ". . lastText lastText . .";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lastText {
  grid-area: lastText;
  color: white;
  font-size: 1.5em;
  padding: 100px 0px;
}

.lastP {
  margin-top: 15px;
}

.lastH2 {
  margin-top: 50px;
}

.payImages {
  margin-top: 30px;
  width: 92px;
  height: 58px;
}

footer {
  border-top: solid lime;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: black;
}

.footerContact {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footerContact .footerContactItems {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerBaseline {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}

.footerSocials {
  align-self: flex-start;
  margin-top: 20px;
}
.footerSocials .iconsSpacecontainer {
  display: flex;
  gap: 15px;
}

.footerFormContainer {
  margin-top: 5px;
}
.footerFormContainer .footerFormItems {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
.footerFormContainer .footerInputEmail {
  background-color: #0d0d0d;
  border: 1px solid #ccc;
  opacity: 0.5;
  border-radius: 4px;
  font-size: 1.5rem;
  width: 60%;
  padding: 3px 0 4px 0;
  color: white;
  text-transform: capitalize;
}
.footerFormContainer .footerSubmitEmail {
  background-color: rgb(43, 47, 49);
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.footerFormContainer .footerSubmitEmail:hover {
  background-color: lime;
}

.fontSize15em {
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  .featuredRow {
    flex-wrap: wrap;
    justify-content: center;
  }
  .productsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .imagesHeader {
    justify-content: space-around;
  }
  .menuNavContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .menuNav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .navForm {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navFormInput {
    flex: 1;
  }
  .navFormButton {
    width: auto;
    margin-top: 0;
  }
  .mainSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .mainContainer {
    display: block;
  }
  .productsAside {
    display: none;
  }
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .contactGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "topContainer topContainer" "midContainer midContainer" "bottomContainer bottomContainer";
  }
  .responsiveRowColumn {
    flex-direction: column;
  }
  .contactMidForm {
    width: 100%;
    padding: 0 20px;
  }
  .formEmailTelContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
  }
}
@media (max-width: 600px) {
  .menuNav {
    flex-direction: column;
  }
  .promotion h1 {
    font-size: 14px;
  }
  .headerLink p {
    display: none;
  }
  .menuNavContainer {
    padding: 10px;
  }
  .menuNav a {
    font-size: 14px;
  }
  .navFormInput {
    font-size: 14px;
  }
  .navFormButton {
    font-size: 1.4rem;
  }
  .sideBar {
    display: none;
  }
  .preTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .preTextItem {
    flex: 1 1 100%;
  }
  .noMarginText {
    display: none;
  }
  .iconsSpacecontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .displayNoneFooter {
    display: none;
  }
  .footerTextResponsive {
    font-size: 10px;
  }
  .footerFormContainer {
    display: none;
  }
  .contactTopFlex {
    padding: 0 10px;
  }
  .contactH3 {
    font-size: 1.2em;
  }
  .contactH4 {
    font-size: 10px;
  }
  .contactMidForm {
    padding: 10px 0;
  }
  .formInputBot {
    padding: 10px 5px;
  }
}

/*# sourceMappingURL=estilos.css.map */
