@import '../utilities/variables';
@import '../utilities/mixin';
@import '../utilities/extend';

main {
    background-color: $background-color-light;
}

.sideBar {
    background-color: $color-lime;
    color: $color-white;

    .sideBarTitle {
        font-size: $font-size-large;
        padding: 15px 0;
        text-align: center;
        font-weight: $bold-font-weight;
        border-bottom: 2px solid $background-color-light;
    }

    .sideBarList {
        display: flex;
        flex-direction: column;
        gap: $gap-large;
        list-style-type: $border-none;
        padding: $gap-large 5px;
        font-size: $font-size-large;
    }
}

#carouselContainer {
    &.carousel {
        width: 100%;
        overflow: hidden;
        min-height: 400px;
        height: 99%;

        .carousel-inner {
            width: 100%;
            position: absolute;
            inset: 0;
        }

        .carousel-item {
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
            }
        }
    }
}

.preTextContainer {
    display: flex;
    justify-content: space-around;
    background-color: $background-color-dark;
    margin: 20px;
    border-bottom: solid $color-lime;

    .preTextItem {
        @include flex-center(row, center, flex-start);
        padding: 40px 30px;
        font-family: monospace;
        color: $color-white;

        .pre1 {
            font-size: 20px;
            color: $color-white;
            font-weight: $bold-font-weight;
        }

        .pre2 {
            font-size: 15px;
            color: $color-white;
        }
    }
}

.featured {
    display: flex;
    flex-direction: column;
    background-color: $background-color-light;

    .featuredTitle {
        align-self: center;
        color: $color-azure;
        font-size: 3em;
        font-weight: $bold-font-weight;
        margin-top: 20px;
    }

    .featuredItems {
        @include flex-center(row, center, center);
        margin: $gap-large 0 $gap-medium;

        .featuredRow {
            display: flex;
            gap: $gap-large;
        }
    }

    .featuredImagesBorder {
        border-radius: 3em 1em;
        border: solid $color-azure;
        overflow: hidden;

        .featuredImages {
            width: 250px;
            height: 250px;
            @include transition(opacity, 0.5s);

            &:hover {
                transform: scale(1.1);
                opacity: 0.75;
                margin-bottom: 10px;
            }
        }
    }

    .featuredTextContainer {
        display: flex;
        flex-direction: column;
        background-color: $color-dark-grey;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom: solid $color-lime;

        .featuredText {
            font-size: 9px;
            color: $color-white;
            font-weight: $bold-font-weight;
            padding-top: 10px;
        }

        .featuredPrecio {
            color: $color-lime;
            padding-top: 10px;
            font-size: $font-size-medium;

            span {
                color: #bababa;
                font-style: italic;
            }
        }

        .featuredPrecio2 {
            color: $color-lime;
            font-weight: $bold-font-weight;
            padding-top: 5px;
            font-size: 1rem;
        }
    }

    .alignText {
        align-self: center;
    }

    .featuredButtons {
        display: flex;
        align-self: center;
        gap: $gap-large;

        .featuredButtonsSpace {
            padding: $gap-small;
        }

        .buttonsConfig {
            font-size: 12px;
            font-weight: $bold-font-weight;
            background-color: $color-dark-grey;
            border: $border-none;
            color: $color-white;
        }
    }
}

.seeMoreButton {
    text-align: center;
    margin-top: $gap-small;

    .seeMore {
        background-color: $color-lime;
        padding: 20px 60px;
        color: $color-white;
        font-weight: $bold-font-weight;
        border: $border-none;
        font-size: 1.6em;
        text-decoration: $border-none;
    }
}

.advertising {
    text-align: center;
    font-size: $font-size-large;
    font-weight: $bold-font-weight;
    padding: 35px 0 110px;
    color: $color-white;
    margin-bottom: 0;
}