// Colors
$color-black: #0d0d0d;
$color-dark-grey: #101010;
$color-light-grey: #ccc;
$color-white: white;
$color-lime: lime;
$color-azure: azure;
$color-light-grey: #ccc;

// Font Sizes
$font-size-small: 1.2rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-xlarge: 3rem;