@import '../utilities/variables';
@import '../utilities/mixin';
@import '../utilities/extend';

footer {
  border-top: solid $border-color;
}

.footerContainer {
  @include flex-center(row, center, space-around);
  color: $color-white;
  background-color: $background-color-dark;
}

.footerContact {
  @include flex-center(column, flex-start, center);
  margin-top: $gap-small;

  .footerContactItems {
    @include flex-center(row, center, flex-start);
    width: 100%;
    gap: $gap-small;
  }
}

.footerBaseline {
  @include flex-center(column, flex-start, center);
  margin-top: $gap-medium;
  gap: $gap-large;
}

.footerSocials {
  align-self: flex-start;
  margin-top: $gap-small;

  .iconsSpacecontainer {
    @include flex-center(row, center, flex-start);
    gap: $gap-medium;
  }
}

.footerFormContainer {
  margin-top: $gap-small;

  .footerFormItems {
    @include flex-center(column, flex-start, center);
    gap: $gap-small;
    margin-top: $gap-medium;
  }

  .footerInputEmail {
    background-color: $background-color-light;
    border: 1px solid $border-color-light;
    opacity: 0.5;
    border-radius: $border-radius;
    font-size: $font-size-large;
    width: 60%;
    padding: 3px 0 4px 0;
    color: $color-white;
    text-transform: capitalize;
  }

  .footerSubmitEmail {
    background-color: $submit-background;
    color: $color-white;
    border: $border-none;
    padding: 7px 10px;
    font-size: $font-size-medium;
    font-weight: $bold-font-weight;
    border-radius: $border-radius;
    @include transition(background-color, $transition-time);

    &:hover {
      background-color: $hover-background;
    }
  }
}

.fontSize15em {
  font-size: $font-size-small;
}