@import '../utilities/variables';
@import '../utilities/mixin';
@import '../utilities/extend';

.promotion {
  padding: $gap-small 0 $gap-medium 0;
  text-align: center;
  background-color: $color-lime;
  font-size: $font-size-small;
  font-weight: $bold-font-weight;
  color: $color-white;
}

header {
  background-color: $background-color-dark;

  .imagesHeader {
    @include flex-center(row, flex-end, flex-start);

    .imagesHeaderLeft {
      @include flex-center(row, flex-end, flex-start);
      width: 100%;
      padding-bottom: $gap-medium;

      .item1 {
        width: $image-width-left;
        height: $image-height;
        margin-left: $gap-medium;
      }
    }

    .imagesHeaderRight {
      @include flex-center(row, flex-end, flex-start);
      width: $image-width-right;
      height: $image-height;
      padding-right: $gap-medium;
      gap: $gap-medium;
    }
  }

  .headerLink {
    @include flex-center(row, flex-end, flex-start);
    text-decoration: $border-none;
    font-size: 12px;

    .textHeader {
      color: $color-white;
      align-self: flex-end;
      margin-bottom: 0;
    }
  }
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  .menuNavContainer {
    @include flex-center(row, flex-start, flex-start);
    background-color: $main-background-color;
    width: 100%;

    .menuNav {
      @include flex-center(row, flex-start, space-between);
      gap: $gap-large;
      padding: $gap-medium 100px 0 $gap-small;
      list-style-type: $border-none;
      color: $color-white;
      font-size: $font-size-large;
      width: 100%;
      letter-spacing: $letter-spacing;
    }

    .navForm {
      @include flex-center(row, flex-end, flex-start);
      width: 50%;

      .navFormInput {
        width: 94%;
        color: $color-white;
        font-weight: $bold-font-weight;
        font-size: $font-size-large;
        background-color: $background-color-dark;
        border: $border-none;
        outline: $border-none;
        padding-left: $nav-form-padding-left;
        text-transform: capitalize;
      }

      .navFormButton {
        background-color: $background-color-dark;
        border: $border-none;
      }
    }
  }
}